@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, #fefefb, #ECE57C, #3e4a8e);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.bgpic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150vh;
    width: auto;
    object-fit: contain;
    opacity: 0.5;
    pointer-events: none;
    z-index: 0;
}

.header {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    user-select: none;
    z-index: 2;

    .left {
        height: 100%;
        width: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        img {
            height: 90%;
            width: auto;
            margin: 0;
        }

        h1 {
            font-family: 'Geom', sans-serif;
            font-size: 2.5rem;
            font-weight: 700;
            color: #1a1a1a;
        }
    }

    .right {
        background-color: #fffcd0;
        height: 50px;
        padding: 0 10px;
        border-radius: 100px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.250);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;

        a {
            color: black;
            font-size: 1rem;
            text-decoration: none;
            font-weight: 600;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            width: fit-content;
            height: 35px;
            border-radius: 100px;
            cursor: pointer;
        }

        a.active {
            background-color: #DCC863;
            border-radius: 100px;
        }

        a:hover {
            background-color: rgba(220, 200, 99, 0.35);
        }

    }
}



.page {
    flex: 1;
    display: grid;
    grid-template-columns: minmax(500px, 659px) minmax(320px, 398px);
    justify-content: end;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 10px 40px;
    z-index: 5;
    min-height: 0;
}

.faq {
    flex: 1;
    overflow-y: auto;
}

.faq-card {
    background: #FFFFFF;
    opacity: 0.95;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    height: auto;
    max-height: 100%; 
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 25px;
    overflow: hidden;
}

.faq-header {
    background: rgba(220, 200, 99, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
    flex-shrink: 0;
}

.faq-header h2 {
    font-family: 'Geom', 'Inter', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: black;
}

.faq-card h3 {
    margin-top: 35px;
    margin-bottom: 9px;
}




.settings-card {
    background: rgba(255, 255, 255, 0.881); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25); 
    box-sizing: border-box;
    width: clamp(280px, 28vw, 340px);    
    display: grid;
    grid-template-rows: auto 1fr; 
    height: auto;
    max-height: 82vh; 
    padding: clamp(15px, 2.5vh, 25px);   
    margin-right: clamp(22px, 2vw, 40px);
    justify-self: end;
}

.settings-header {
    margin-bottom: clamp(12px, 2.5vh, 22px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.settings-icon {
    width: 30px;
    height: 32px;
}

.settings-title {
    font-family: "Geom", sans-serif;
    font-size: clamp(22px, 1.8vw, 28px); 
    font-weight: 600;
}

.settings-menu {
    display: grid;
    grid-template-rows: repeat(5, 1fr) auto auto; 
    gap: clamp(5px, 1.2vh, 14px); 
    overflow: hidden; 
    height: 100%;
}

.settings-item {
    text-align: right;
    text-decoration: none;
    font-family: "Geom", sans-serif;
    font-size: clamp(20px, 1.2vw, 22px); 
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.482);
    transition: 0.3s;
}

.item-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.arrow {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.settings {
    display: flex;
    justify-content: flex-end; 
}

.settings-item:hover {
    color: #1E1E1E;
    transform: translateX(-5px);
}

.settings-item.active {
    color:#3E4A8E;
    border-bottom: 3px solid #3E4A8E;
}

.settings-item.active .arrow {
    stroke: #3e4a8e;
}

.logo {
    width: clamp(80px, 9vw, 120px);   
    height: auto;
    display: block;
    margin: 10px auto 0 auto; 
}

.logout-btn {
    width: clamp(35px, 3.8vh, 45px);       
    height: clamp(35px, 3.8vh, 45px);
    background: none;
    border: 2px solid red;               
    color: red;
    border-radius: 10px;
    cursor: pointer;
    justify-self: end; 
    margin-top: 5px;   
    transition: 0.3s; 
}

.logout-btn:hover {
    background: red;
    color: white;
}

.footer {
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    z-index: 3;
    opacity: 0.75;
    margin-top: auto;

    p {
        color: #1b1b1b;
        font-size: 1rem;
    }

    .cont {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 5px;

        p {
            font-weight: 500;
        }

        svg {
            width: 20px;
            height: 20px;
            fill: #1b1b1b;
        }

        a {
            color: #3e4a8e;
            font-size: 1rem;
            text-decoration: none;
            font-weight: 600;
        }
        
        a:hover {
            text-decoration: underline;
        }
    }  
}