@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.material-symbols-rounded {
    font-size: 36px;
    user-select: none;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, #3e4a8e, #ECE57C);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

.bgpic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150vh;
    width: auto;
    object-fit: contain;
    opacity: 0.5;
    pointer-events: none;
    z-index: 1;
}

.header {
    background-color: white;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    user-select: none;
    z-index: 2;

    .left {
        height: 100%;
        width: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        img {
            height: 90%;
            width: auto;
            margin: 0;
        }

        h1 {
            font-family: 'Geom', sans-serif;
            font-size: 2.5rem;
            font-weight: 700;
            color: #1a1a1a;
        }
    }

    .right {
        background-color: #fffcd0;
        height: 50px;
        padding: 0 10px;
        border-radius: 100px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.250);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;

        a {
            color: black;
            font-size: 1rem;
            text-decoration: none;
            font-weight: 600;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            width: fit-content;
            height: 35px;
            border-radius: 100px;
            cursor: pointer;
        }

        .set {
            background-color: #DCC863;
        }
    }
}

.mid {
    font-family: 'Geom', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    box-sizing: border-box;
    overflow: hidden;

    .ml {
        width: 50%;
        height: 100%;
        padding: 25px;

        .tabui {
            background-color: white;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow-y: auto;
            gap: 15px;
            padding: 25px 0;
            overflow-y: auto;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.250);
            box-sizing: border-box;
            padding: 25px 0 0 0;

            .tabid {
                background-color: #DCC863;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                height: fit-content;
                width: 80%;
                padding: 12px 24px;
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.250);

                h1 {
                    font-size: 3rem;
                    font-weight: 700;
                    color: #1b1b1b;
                }

                .artist-rating {
                    display: flex;
                    align-items: center;
                    gap:5px;
                }

                .artist-ave {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: black;
                }

                .header-star {
                    font-family: 'Material Symbols Rounded';
                    font-size: 50px;
                    color:#ffe043
                }
            }
        }
    }

    .mr {
        height: 100%;
        width: 28%;
        padding: 25px;

        .setui {
            background-color: white;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 25px;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.250);

            .iconwrap {
                width: 100%;
                display: flex;
                justify-content: right;

                span {
                    font-size: 3rem;
                }

                .exit {
                    color: #ba0f0f;
                }
            }


            .divwrap {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 6px;

                div {
                    width: 100%;
                    display: flex;
                    gap: 60px;
                    justify-content: space-between;
                    border-bottom: 3px solid #000000;
                    padding-bottom: 5px;
    
                    span {
                        font-size: 2rem;
                        margin-top: 5px;
                    }
    
                    p {
                        font-family: 'Geom', sans-serif;
                        font-size: 2rem;
                        font-weight: 500;
                    }
                }

                .set3 {
                    color: #3e4a8e;
                    border-color: #3e4a8e;
                }
            }

            img {
                width: 150px;
                height: 150px;
            }
        }
    }
}

.reviews {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 60px 40px 60px;
    gap: 10px;
    overflow-y: auto;
    height: 100%;


    .chat {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width:100%;
        .user {
            font-family: 'Inter';
            font-weight: 700;
            font-size: 20px;
            color: black;
        }

        .chat-bubble {
            background: #dcc8635b;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            border-radius: 5px;
            max-width: 300px;
            padding: 8px 12px;

            p {
                font-family: 'Inter';
                font-weight: 400;
                line-height: 140%;
                color: black;
            }
        } 

        .chat-info {
            display: flex;
            align-items: center;
            gap: 5px;
            padding-left: 2px;

            span {
                font-family: 'Inter';
                font-weight: 400px;
                font-size: 15px;
                color:black;
            }

            .star-small {
                font-family: 'Material Symbols Rounded';
                font-size: 20px;
                color:#DCC863;
            }
        }     
    }
}

.review-bar {
    background: #dcc8635b;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    box-sizing: border-box;
    gap: 12px;
    flex-shrink: 0;

    .form-row, .input-group {
        display: flex;
        flex-direction: column;
        gap:4px;
        flex:1;

        label{
            font-family: 'Inter';
            font-weight: 400;
            font-size: black;
            white-space: nowrap;
        }

        .review-input,
        .commission-select {
            width: 100%;
            height: 50px;
            border: none;
            outline: none;
            font-family: 'Inter';
            font-size: 16px;
            padding: 0 10px;
            box-sizing: border-box;
        }

        .review-input {
            background: rgba(255, 255, 255, 0.75);
            border-radius: 10px;
        }

        .commission-select {
            background: rgba(255, 255, 255, 0.75);
            border-radius: 10px;
            appearance: none;
            padding-right: 30px;

            option {
                font-family: 'Inter', sans-serif;
            }
        }
        
        .select-wrapper {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;

            .dd-icon {
                position: absolute;
                right: 6px;
                font-size: 20px;
                color: black;
                pointer-events: none;
            }
        }
    }

    .send {
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        margin-top: 25px;
                    
        span {
            font-size: 28px;
            color: black;
        }
    }
}



.footer {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    z-index: 3;
    opacity: .75;

    p {
        color: #1b1b1b;
        font-size: 1rem;
    }

    .cont {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 5px;

        p {
            font-weight: 500;
        }

        svg {
            width: 20px;
            height: 20px;
            fill: #1b1b1b;
        }

        a {
            color: #3e4a8e;
            font-size: 1rem;
            text-decoration: none;
            font-weight: 600;
        }
        
        a:hover {
            text-decoration: underline;
        }
    }  
}