@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #fefefb, #ECE57C, #3e4a8e);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.bgpic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    max-width: 1000px;
    opacity: 0.5;
    pointer-events: none;
    z-index: 1;
}

.mid {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    }

.footer{
    opacity: .7;
    background-color: white;
    width: 100%;
    height: 50px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;

    p {
        color: black;
        font-size: 20px;
    }

    .cont {
        height: 100%;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        svg {
            width: 30px;
            height: 30px;
            fill: black;
        }
        
        a {
        color: black;
        font-size: 20px;
        text-decoration: none;
        }

    }
}

.tab {
    position: relative;
    z-index: 2;
    background-color: white;
    width: 450px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;

    .top {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;

        img {
            height: 200px;
            width: auto;
        }

        h2 {
            font-size: 2rem;
            font-family: 'Geom', sans-serif;
            font-weight: 700;
            margin: 0;
        }
    }
    
    

    .input {
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin: 0;

        p {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            color: black;
            font-size: 20px;
            margin: 0;
        }

        .box {
            font-family: 'Inter', sans-serif;
            font-size: 1rem;
            width: 300px;
            height: 50px;
            border: solid 2px black;
            outline: none;
        }
    }

    button {
        font-family: 'Inter', sans-serif;
        width: 35%;
        height: 50px;
        font-size: 1.5rem;
        font-weight: 600;
        background-color: #3e4a8e;
        color: #ffffff;
        border: none;
        border-radius: 50px;
        cursor: pointer;
    }

    .create {
        font-family: 'Inter', sans-serif;
        display: flex;
        gap: 5px;

        p {
            font-size: 15px;
            font-weight: 500;
            margin: 0;
        }

        a {
            font-size: 15px;
            font-weight: 700;
            color: black;
        }
    }
}