@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, #fefefb, #ECE57C, #3e4a8e);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

.bgpic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150vh;
    width: auto;
    object-fit: contain;
    opacity: 0.5;
    pointer-events: none;
    z-index: 1;
}

.mid {
    flex: 1;
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 2;
}

.tab {
    background-color: #ffffff;
    width: 384px;
    height: 512px;
    border-radius: 20px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.350);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    h2 {
        font-family: 'Geom', sans-serif;
        font-size: 2.3rem;
        font-weight: 700;
        color: #1a1a1a;
        padding-right: 60px;
        margin-bottom: 15px;
    }

    .input {
        width: 280px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 8px;

        p {
            font-family: 'Inter', sans-serif;
            font-size: .8rem;
            font-weight: 600;
            color: #1b1b1b;
        }

        .box {
            font-family: 'Inter', sans-serif;
            font-size: 1rem;
            width: 100%;
            height: 45px;
            border: solid 2.3px #1b1b1b;
            border-radius: 8px;
            padding: 0 12px;
            outline: none;
        }

        .passwrap {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
        }

        .see {
            height: 100%;
            position: absolute;
            right: 12px;
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .signbtn {
        font-family: 'Inter', sans-serif;
        width: 130px;
        height: 45px;
        font-size: 1.3rem;
        font-weight: 600;
        background-color: #3e4a8e;
        color: #ffffff;
        border: none;
        border-radius: 44px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .tos {
        font-family: 'Inter', sans-serif;
        display: flex;
        gap: 5px;
        margin-bottom: 25px;

        p, a {
            font-size: .75rem;
            font-weight: 500;
            color: #1b1b1b;
        }

        a {
            font-weight: 700;
        }
    }

    a {
        font-size: .9rem;
        font-weight: 700;
        color: #1b1b1b;
        }

}

.error-message {
    color: #ba0f0f;
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.footer {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    z-index: 3;
    opacity: 0.75;

    p {
        color: #1b1b1b;
        font-size: 1rem;
    }

    .cont {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 5px;

        p {
            font-weight: 500;
        }

        svg {
            width: 20px;
            height: 20px;
            fill: #1b1b1b;
        }

        a {
            color: #3e4a8e;
            font-size: 1rem;
            text-decoration: none;
            font-weight: 600;
        }
        
        a:hover {
            text-decoration: underline;
        }
    }  
}
